.design {
  padding: 80px 0 130px;
  text-align: center;
  &__title {
    @include font(43px, 58px);
  }
  &__text {
    @include font(14px, 24px);
    color: #A0A0A0;
    margin: 23px 0 26px;
  }
  &__link {
    @include font(13px, 21px);
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #000;
  }
  &__row {
    display: flex;
    column-gap: 25px;
    margin-top: 81px;
  }
  &__card {
    width: calc(50% - 12.5px);
    &-img {
      width: 100%;
    }
    &-title {
      @include font(27px, 30px);
      margin: 48px 0 23px;
    }
    &-link {
      @include font(13px, 15px);
      color: #000;
    }
  }
}