* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

@mixin font ($fz, $lh) {
  font-size: $fz;
  line-height: $lh;
}

@import "header";
@import "begin";
@import "design";
@import "products";
@import "office";
@import "made";
@import "make";
@import "hope";
